<!DOCTYPE html>
<html>
	<button ng-click="addCar()">Add Random Car</button>
	
	<speedway id="speedway" width="800" height="600" 
		style="background-color:#333; display:table; margin:0 auto;">
		<p> You don't support Canvas. </p>
	</speedway>
	
	<ol class="leaderboard">
		<li ng-repeat="car in cars">
			<div class="label">
				{{car.playerName}}
			</div>
			<div class="position">
				<span class="coordinate">X: {{car.x}}px</span>
				<span class="coordinate">Y: {{car.y}}px</span>
				<span class="coordinate">A: {{car.angle}}</span>
			</div>
		</li>
	</ol>
</html>